.footer {
  height: 514px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  @media (max-width: $md3+px) {
    height: 180px;
    overflow: visible;
  }
  // .footer__bg
  &__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &._ibg {
      background-position: center top;
      @media (max-width: $md3+px) {
        background-image: url("../img/footer/mbg.png") !important;
      }
    }
  }

  // .footer__container
  &__container {
    height: 100%;
    padding-bottom: 60px;
    @include flexbox();
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    @media (max-width: $md3+px) {
      padding-bottom: 40px;
      &:after {
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: -714px;
      top: 41px;
      width: 2477px;
      height: 780px;
      background: url("../img/footer/spline01.svg") 0px 80px no-repeat,
        url("../img/footer/spline02.svg") 1790px 205px no-repeat,
        url("../img/footer/shape01.svg") 105px 17px no-repeat,
        url("../img/footer/shape02.svg") 516px 0 no-repeat,
        url("../img/footer/shape03.svg") 1870px 220px no-repeat;
    }
    * {
      position: relative;
      z-index: 2;
    }
  }

  // .footer__menu
  &__menu {
    margin: 0px 0px 10px 0px;
    @media (max-width: $md3+px) {
      display: none;
    }
    .menu__list li {
      margin: 0px 50px 15px 0px;
      &:last-child {
        margin: 0px 0px 15px 0px;
      }
    }
  }

  // .footer__social
  &__social {
    margin: 0px 0px 15px 0px;
    &.social-main {
      &::after {
        display: none;
      }
      .social-main__item {
        display: inline-block;
        margin: 0px 12px 15px 0px;
      }
    }
  }

  // .footer__label
  &__label {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: $md3+px) {
      font-size: 12px;
      line-height: 18px;
      max-width: 235px;
    }
  }

  // .footer__back
  &__back {
    position: absolute;
    right: 20px;
    top: 196px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #49dbc9;
    box-shadow: 3px 4px 14px 1px rgba(73, 219, 201, 0.35);
    @include flexbox();
    align-items: center;
    justify-content: center;
    &:before {
      content: "";
      width: 30px;
      height: 17px;
      background: url("../img/arrow.png") 0 0 no-repeat;
    }
    @media (max-width: $md3+px) {
      background-color: #ff628f;
      top: -23px;
      width: 50px;
      height: 50px;
      &:before {
        width: 20px;
        height: 12px;
        background: url("../img/footer/farrow.png") 0 0 no-repeat;
      }
    }
  }
}
