@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap&subset=cyrillic-ext);
$fontfamily: Ubuntu;
$minwidth: 320px;
$mw: 1210;
$md1: $mw + 12;
$md2: 979;
// $md2: 767.98;
$md3: 768;
$md4: 485;

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "null.scss";

body {
  overflow-x: hidden;
  &._lock {
    overflow: hidden;
    @media (max-width: $md3+px) {
      width: 100%;
      // position: fixed;
    }
  }
}
.wrapper {
  @include flexbox();
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  // overflow: hidden;
  position: relative;
  &.loaded {
  }
}
._container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
  @media (max-width: $md1+px) {
    $mw: 979;
    max-width: $mw + px;
  }
  @media (max-width: $md2+px) {
    $mw: 748;
    max-width: $mw + px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

@import "header.scss";

// Основной блок
.content {
  // .content__main
  &__main {
    margin: 0px 0px 60px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 40px 0px;
    }
  }
  // .content__usage
  &__usage {
  }
  // .content__services
  &__services {
    margin: 0px 0px 30px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 50px 0px;
    }
  }
  // .content__target
  &__target {
    margin: 0px 0px 45px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 60px 0px;
    }
  }
  // .content__misc
  &__misc {
    margin: 0px 0px 30px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 10px 0px;
    }
  }
  // .content__request
  &__request {
    margin: 0px 0px 60px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 40px 0px;
    }
  }
  // .content__cases
  &__cases {
    margin-bottom: 120px;
    @media (max-width: $md3+px) {
      margin-bottom: 80px !important;
    }
  }
  // .content__faq
  &__faq {
    margin: 0px 0px 35px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 40px 0px;
    }
  }
}
.main-content {
  height: 800px;
  position: relative;
  @media (max-width: $md1+px) {
    height: 790px;
  }
  @media (max-width: $md2+px) {
    height: 760px;
  }
  @media (max-width: $md3+px) {
    height: 750px;
  }

  // .main-content__bg
  &__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &._ibg {
      background-position: center bottom;
      @media (max-width: $md3+px) {
        background-image: url("../img/mbg.png") !important;
      }
    }
  }

  // .main-content__container
  &__container {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: -412px;
      top: -3px;
      width: 1990px;
      height: 804px;
      background: url("../img/person.png") 1083px 119px no-repeat,
        url("../img/shape01.png") 1017px 240px no-repeat,
        url("../img/shape02.svg") 0 0 no-repeat,
        url("../img/shape03.svg") right 0 no-repeat,
        url("../img/spline02.svg") 0 222px no-repeat,
        url("../img/spline03.svg") 965px 400px no-repeat;
    }
    @media (max-width: $md1+px) {
      &:after {
        background: url("../img/shape02.svg") 0 0 no-repeat,
          url("../img/shape03.svg") right 0 no-repeat,
          url("../img/spline02.svg") 0 222px no-repeat,
          url("../img/spline03.svg") 965px 400px no-repeat !important;
      }
    }
    @media (max-width: $md3+px) {
      height: 100%;
      &:after {
        // display: none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url("../img/mperson.png") center bottom no-repeat !important;
      }
    }
  }

  // .main-content__body
  &__body {
    position: relative;
    z-index: 2;
    padding-top: 120px;
    @include flexbox();
    justify-content: space-between;
    @media (max-width: $md1+px) {
      padding-top: 110px;
    }
    @media (max-width: $md2+px) {
      padding-top: 80px;
    }
    @media (max-width: $md3+px) {
      height: 100%;
      padding-top: 50px;
      flex-direction: column;
      align-items: center;
    }
  }

  // .main-content__title
  &__title {
    margin: 140px 0px 0px 0px;
    @media (max-width: $md1+px) {
      margin: 130px 0px 0px 0px;
    }
    @media (max-width: $md2+px) {
      margin: 100px 0px 0px 0px;
    }
    @media (max-width: $md3+px) {
      flex: 1 1 auto;
      margin: 50px auto 0px auto;
    }
  }

  // .main-content__social
  &__social {
    margin: 197px 0px 0px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 40px 0px;
    }
  }
}
.title-main {
  max-width: 650px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  @media (max-width: $md3+px) {
    font-size: 30px;
    line-height: 45px;
    max-width: 255px;
    text-align: center;
  }
  // .title-main__text1
  &__text1 {
    color: #f5678e;
  }

  // .title-main__text2
  &__text2 {
    color: #49dbc9;
  }
}
.social-main {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 100%;
    top: -318px;
    width: 177px;
    height: 283px;
    background: url("../img/arr.svg") left bottom no-repeat,
      url("../img/spline.png") 0px 0px no-repeat;
    @media (max-width: $md3+px) {
      display: none;
    }
  }
  @media (max-width: $md3+px) {
    @include flexboxi();
  }
  // .social-main__item
  &__item {
    display: block;
    margin: 0px 0px 10px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
    @include anim(0.3s, 0s);

    @media (min-width: $md2+px) {
      &:hover {
        @include scale(1.06);
      }
    }
    @media (max-width: $md3+px) {
      margin: 0px 22px 0px 0px;
      width: 40px;
      height: 40px;
    }
    img {
      max-width: 100%;
    }
  }
}
// =============================================================
.usage-content {
  margin: 0px 0px 60px 0px;
  // .usage-content__container
  &__container {
  }

  // .usage-content__title
  &__title {
    margin: 0px 0px 45px 0px;
  }

  // .usage-content__row
  &__row {
    @include flexbox();
    margin: 0px -10px;
    @media (max-width: $md2+px) {
      flex-wrap: wrap;
    }
    @media (max-width: $md3+px) {
      flex-wrap: nowrap;
      margin: 0px auto;
      overflow: hidden;
      max-width: 305px;
      // flex-wrap: wrap;
    }
  }

  // .usage-content__column
  &__column {
    padding: 0px 10px;
    flex: 0 1 (100% / 5);
    max-width: (100% / 5);
    margin: 0px 20px 0px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: $md2+px) {
      flex: 0 1 (100% / 3);
      max-width: (100% / 3);
      margin: 0px 0px 20px 0px;
    }
    @media (max-width: $md3+px) {
      flex: 0 0 (100% / 3);
      max-width: (100% / 3);
      margin: 0px 3px 0px 0px;
    }
    &:nth-child(1) {
      .usage-content__icon {
        background: url("../img/usage/bg01.svg") center / contain no-repeat;
      }
    }
    &:nth-child(2) {
      .usage-content__icon {
        background: url("../img/usage/bg02.svg") center / contain no-repeat;
      }
      @media (max-width: $md3+px) {
        order: 5;
      }
    }
    &:nth-child(3) {
      .usage-content__icon {
        background: url("../img/usage/bg03.svg") center / contain no-repeat;
      }
      @media (max-width: $md3+px) {
        order: 3;
        margin: 0px 0px 0px 0px;
      }
    }
    &:nth-child(4) {
      .usage-content__icon {
        background: url("../img/usage/bg04.svg") center / contain no-repeat;
      }
      @media (max-width: $md3+px) {
        order: 4;
      }
    }
    &:nth-child(5) {
      .usage-content__icon {
        background: url("../img/usage/bg05.svg") center / contain no-repeat;
      }
      @media (max-width: $md3+px) {
        order: 2;
      }
    }
  }

  // .usage-content__item
  &__item {
  }

  // .usage-content__icon
  &__icon {
    height: 154px;
    margin: 0px 0px 30px 0px;
    @include flexbox();
    justify-content: center;
    align-items: center;
    img {
      max-width: 150px;
    }
    @media (max-width: $md3+px) {
      height: 77px;
      margin: 0px 0px 20px 0px;
      img {
        max-width: 50px;
      }
    }
  }

  // .usage-content__label
  &__label {
    max-width: 200px;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    @media (max-width: $md2+px) {
      font-size: 14px;
    }
    @media (max-width: $md3+px) {
      font-size: 14px;
      max-width: none;
      text-align: center;
    }

    span {
      color: #061f61;
      font-weight: 700;
    }
  }
}
// =============================================================
.services-content {
  // .services-content__container
  &__container {
    position: relative;
    &:before {
      content: "";
      width: 795px;
      height: 823px;
      top: 80px;
      left: -580px;
      position: absolute;
      background: url("../img/services/shape01.svg") 0 0 no-repeat;
    }
  }

  // .services-content__title
  &__title {
    margin: 0px 0px 50px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 30px 0px;
    }
  }

  // .services-content__row
  &__row {
    @include flexbox();
    margin: 0px -15px;
    @media (max-width: $md2+px) {
      flex-wrap: wrap;
    }
    @media (max-width: $md3+px) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .services-content__column
  &__column {
    padding: 0px 15px;
    flex: 0 1 (100% / 3);
    max-width: (100% / 3);
    margin: 0px 0px 30px 0px;
    @media (max-width: $md2+px) {
      flex: 0 1 (100% / 1);
      max-width: (100% / 1);
    }
    @media (max-width: $md3+px) {
      padding: 0px 0px;
      flex: 0 1 300px;
      max-width: 300px;
    }
  }

  // .services-content__item
  &__item {
  }
}
.item-services {
  padding: 50px 50px;
  box-shadow: 3px 4px 24px 1px rgba(165, 165, 159, 0.85);
  border-radius: 10px;
  border: 1px solid #49dbc9;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  @include flexbox();
  flex-direction: column;
  align-items: center;
  height: 100%;
  @media (min-width: $md2+px) {
    &:hover {
      &::before {
        height: 26px;
      }
    }
  }
  @media (max-width: $md1+px) {
    padding: 40px 25px;
  }
  @media (max-width: $md3+px) {
    padding: 45px 25px 40px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15px;
    background-color: #49dbc9;
  }
  // .item-services__label
  &__label {
    color: #082062;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.24px;
    margin: 0px 0px 35px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 18px 0px;
    }
  }

  // .item-services__price
  &__price {
    color: #52ddcb;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.36px;
    margin: 0px 0px 40px 0px;
    position: relative;
    &::after {
      font-size: 24px;
      letter-spacing: -0.24px;
      margin: 0px 0px 0px 8px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      @include tr(-50%, 0, 0);
      bottom: -18px;
      width: 120px;
      height: 1px;
      background-color: #f6f6f6;
    }
  }

  // .item-services__list
  &__list {
    flex: 1 1 auto;
    margin: 0px 0px 40px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 18px 0px;
    }
    li {
      color: #010101;
      font-family: "Open Sans";
      font-size: 18px;
      text-align: left;
      line-height: 27px;
      position: relative;
      padding: 0px 0px 0px 16px;
      @media (max-width: $md3+px) {
        padding: 0px 0px 0px 26px;
        font-size: 16px;
      }
      span {
        color: #061f61;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: $md3+px) {
          font-size: 14px;
        }
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #47dbc8;
      }
    }
  }

  // .item-services__btn
  &__btn {
  }

  &--m {
    border-color: #5e41c0;
    &:before {
      background-color: #5e41c0;
    }
    .item-services__price {
      color: #5e41c0;
    }
    .item-services__list li::before {
      border-color: #5e41c0;
    }
  }
  &--l {
    border-color: #f2722c;
    &:before {
      background-color: #f2722c;
    }
    .item-services__price {
      color: #f2722c;
    }
    .item-services__list li::before {
      border-color: #f2722c;
    }
  }
}
// =============================================================
.target-content {
  // .target-content__container
  &__container {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      right: -670px;
      top: 280px;
      width: 912px;
      height: 1121px;
      background: url("../img/target/bg_shape.svg") 0 0 no-repeat;
    }
    @media (max-width: $md3+px) {
      &::before {
        display: none;
      }
    }
    * {
      position: relative;
      z-index: 1;
    }
  }

  // .target-content__title
  &__title {
    margin: 0px 0px 50px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 30px 0px;
    }
  }

  // .target-content__text
  &__text {
    color: #303030;
    font-family: "Open Sans";
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    margin: 0px 0px 40px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 25px 0px;
      font-size: 14px;
      line-height: 21px;
    }
  }

  // .target-content__block
  &__block {
    @media (max-width: $md2+px) {
      text-align: center;
    }
  }
}
.block-target {
  &:last-of-type {
    .block-target__title {
      @media (max-width: $md3+px) {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  // .block-target__title
  &__title {
    color: #061f61;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    @media (max-width: $md2+px) {
      text-align: center;
      margin: 0px 0px 20px 0px;
    }
    @media (max-width: $md3+px) {
      font-size: 20px;
    }
    span {
      color: #ff668c;
    }
  }

  // .block-target__includes
  &__includes {
  }

  // .block-target__depends
  &__depends {
  }
}
.includes-block {
  margin: -21px -15px;
  @include flexbox();
  @media (max-width: $md1+px) {
    margin: -21px -15px 20px;
  }
  @media (max-width: $md2+px) {
    @include flexboxi();
    flex-direction: column;
    margin: 0px 0px 50px;
  }
  @media (max-width: $md3+px) {
    margin: 0px 0px 30px;
  }
  // .includes-block__column
  &__column {
    flex: 0 1 (100% / 3);
    max-width: (100% / 3);
    padding: 0px 15px;
    @media (max-width: $md2+px) {
      flex: 0 1 (100% / 1);
      max-width: (100% / 1);
      padding: 0px 0px;
    }
  }

  // .includes-block__list
  &__list {
    padding: 55px 0px 0px 0px;
    @media (max-width: $md2+px) {
      padding: 0px 0px 0px 0px;
    }
    li {
      color: #303030;
      font-family: "Open Sans";
      font-size: 18px;
      line-height: 40px;
      text-align: left;
      padding: 0px 0px 0px 50px;
      position: relative;
      @media (max-width: $md3+px) {
        font-size: 14px;
        line-height: 24px;
        padding: 0px 0px 0px 35px;
        &::before {
          top: 3px;
          width: 20px;
          height: 20px;
          background-size: contain !important;
        }
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 25px;
        height: 25px;
        background: url("../img/target/li.png") 0 0 no-repeat;
      }
    }
  }

  // .includes-block__item
  &__item {
    border: none;
    @media (max-width: $md2+px) {
      margin: 25px auto 0px;
      max-width: 300px;
    }
    &::before {
      display: none;
    }
    .item-services__price {
      margin: 0px 0px 30px 0px;
      &::before {
        display: none;
      }
    }
    .item-services__list li {
      padding: 0px 0px 0px 0px;
      @media (max-width: $md3+px) {
        max-width: 170px;
        font-size: 14px;
      }
      &::before {
        display: none;
      }
      span {
        color: #f2722c;
      }
    }
  }
}
.depends-block {
  margin: 30px -15px 0px -15px;
  @include flexbox();
  counter-reset: item;
  @media (max-width: $md2+px) {
    flex-direction: column;
  }
  // .depends-block__column
  &__column {
    padding: 0px 15px;
    flex: 0 1 (100% / 3);
    max-width: (100% / 3);
    margin: 0px 0px 30px 0px;
    position: relative;
    @media (max-width: $md2+px) {
      flex: 0 1 (100% / 1);
      max-width: (100% / 1);
      margin: 0px 0px 20px 0px;
      min-height: 55px;
      @include flexbox();
      align-items: center;
      &:before {
        width: 50px;
        height: 55px;
        background-size: contain;
      }
    }
    &:before {
      counter-increment: item;
      content: counter(item);
      @include flexbox();
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      width: 70px;
      height: 77px;
      background: url("../img/target/shape.svg") 0 0 no-repeat;
    }
  }

  // .depends-block__text
  &__text {
    padding: 15px 0px 0px 97px;
    color: #454545;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    @media (max-width: $md3+px) {
      font-size: 14px;
      line-height: 21px;
      padding: 0px 0px 0px 60px;
    }
    span {
      font-weight: 700;
    }
    &::first-letter {
      color: #061f61;
    }
  }
}
// =============================================================
.misc-content {
  position: relative;
  z-index: 1;
  // .misc-content__container
  &__container {
  }

  // .misc-content__title
  &__title {
    margin: 0px 0px 50px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 30px 0px;
    }
  }

  // .misc-content__row
  &__row {
    @include flexbox();
    margin: 0px -15px;
    @media (max-width: $md2+px) {
      flex-direction: column;
    }
    @media (max-width: $md3+px) {
      margin: 0px auto;
      max-width: 300px;
    }
  }

  // .misc-content__column
  &__column {
    flex: 0 1 (100% / 3);
    max-width: (100% / 3);
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    @media (max-width: $md2+px) {
      flex: 0 1 (100% / 1);
      max-width: (100% / 1);
      padding: 0px 0px;
    }
  }

  // .misc-content__item
  &__item {
  }
}
.item-misc {
  height: 100%;
  @include flexbox();
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 4px 24px 1px rgba(165, 165, 159, 0.85);
  padding: 50px;
  text-align: center;
  @media (max-width: $md3+px) {
    padding: 20px 20px 30px;
  }
  // .item-misc__icon
  &__icon {
    height: 120px;
    margin: 0px 0px 25px 0px;
    @include flexboxi();
    align-items: center;
    justify-content: center;
    @media (max-width: $md3+px) {
      margin: 0px 0px 15px 0px;
      height: 85px;
      img {
        max-width: 90px;
        max-height: 85px;
      }
    }
    img {
      max-width: 130px;
      max-height: 120px;
    }
  }

  // .item-misc__label
  &__label {
    flex: 1 1 auto;
    color: #061f61;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 20px 0px;
      font-size: 14px;
    }
  }

  // .item-misc__price
  &__price {
    color: #ff668c;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: $md3+px) {
      font-size: 18px;
    }
  }
}
// =============================================================
.request-content {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(
    -207deg,
    #6237b8 0%,
    #4f64db 95%,
    #4f64db 100%
  );
  // .request-content__container
  &__container {
    @include flexbox();
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
    @media (max-width: $md1+px) {
      &::before {
        background: url("../img/request/shape01.svg") 1030px 0 no-repeat,
          url("../img/request/spline02.svg") 757px 265px no-repeat,
          url("../img/request/spline01.svg") 0 27px no-repeat,
          url("../img/request/spline03.svg") right 0 no-repeat,
          url("../img/request/shape02.svg") 0 0 no-repeat;
      }
    }
    @media (max-width: $md3+px) {
      flex-direction: column;
      align-items: center;
      padding-top: 25px;
      padding-bottom: 30px;
      &:before {
        display: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: -355px;
      top: 0;
      width: 1920px;
      height: 420px;
      background: url("../img/request/shape01.svg") 1030px 0 no-repeat,
        url("../img/request/spline02.svg") 927px 245px no-repeat,
        url("../img/request/spline01.svg") 0 27px no-repeat,
        url("../img/request/spline03.svg") right 0 no-repeat,
        url("../img/request/shape02.svg") 0 0 no-repeat;
    }
    * {
      position: relative;
      z-index: 2;
    }
  }

  // .request-content__text
  &__text {
    padding: 90px 0px 0px 0px;
    flex: 0 0 650px;
    max-width: 650px;
    margin: 0px 50px 0px 0px;

    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    @media (max-width: $md1+px) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 50px 0px 0px 0px;
    }
    @media (max-width: $md2+px) {
      padding: 30px 0px 0px 0px;
    }
    @media (max-width: $md3+px) {
      padding: 0px 0px 0px 0px;
      margin: 0px auto 20px;
      font-size: 20px;
      line-height: 30px;
      flex: 0 0 auto;
      max-width: 290px;
      text-align: center;
    }
    span {
      color: #ff668c;
    }
  }

  // .request-content__form
  &__form {
    flex: 1 1 auto;
  }
}
.form-request {
  padding: 0px 100px 0px 0px;
  @media (max-width: $md1+px) {
    padding: 0px 0px 0px 0px;
  }
  @media (max-width: $md3+px) {
    width: 100%;
    max-width: 300px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -41px;
      top: -19px;
      width: 380px;
      height: 347px;
      background: url("../img/request/mbg.svg") 0 0 / contain no-repeat;
    }
  }
  // .form-request__input
  &__input {
    margin: 0px 0px 20px 0px;
    &:last-child {
      margin: 0px 0px 30px 0px;
    }
  }

  // .form-request__btn
  &__btn {
    &.btn {
      width: 100%;
    }
  }
}
// =============================================================
.cases-content {
  position: relative;
  z-index: 2;

  // .cases-content__container
  &__container {
  }

  // .cases-content__title
  &__title {
    margin: 0px 0px 50px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 25px 0px;
    }
  }

  // .cases-content__body
  &__body {
    @include flexbox();
    align-items: flex-end;
    position: relative;
    @media (max-width: $md3+px) {
      display: block;
      max-width: 300px;
      margin: 0px auto;
    }
  }

  // .cases-content__items
  &__items {
    flex: 1 1 auto;
    margin: 0px 20px 0px 0px;
    position: relative;
    width: 100%;
  }

  // .cases-content__item
  &__item {
  }

  // .cases-content__controls
  &__controls {
    flex: 0 0 100px;
    max-width: 100px;
    z-index: 200;
    @media (max-width: $md2+px) {
      max-width: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.item-cases {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 870px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 3px 4px 24px 1px rgba(165, 165, 159, 0.85);
  background-color: #ffffff;
  overflow: hidden;
  @media (max-width: $md1+px) {
    width: 650px;
  }
  @media (max-width: $md2+px) {
    display: none;
    width: 100%;
  }
  &:first-child {
    position: relative;
    @media (max-width: $md2+px) {
      display: block;
    }
  }

  // .item-cases__header
  &__header {
    padding: 0px 0px 0px 35px;
    height: 30px;
    background-color: #6139ba;
    @include flexbox();
    align-items: center;
    span {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #f48549;
      margin: 0px 6px 0px 0px;
    }
  }

  // .item-cases__swiper
  &__swiper {
  }
  // .item-cases__wrapper
  &__wrapper {
  }

  // .item-cases__content
  &__content {
    @include flexbox();
    align-items: center;
    @media (max-width: $md3+px) {
      flex-direction: column;
      padding: 15px 15px 30px;
    }
  }

  // .item-cases__image
  &__image {
    flex: 0 1 64.65%;
    max-width: 64.65%;
    padding: 20px 30px;
    img {
      max-width: 100%;
      border-radius: 10px;
      border: 1px solid #f4f4f4;
      overflow: hidden;
    }
    @media (max-width: $md3+px) {
      flex: 0 1 100%;
      max-width: 100%;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 20px 0px;
      img {
        max-width: 100%;
      }
    }
  }

  // .item-cases__data
  &__data {
    flex: 1 1 auto;
    text-align: left;
    margin: 0px 10px 0px 0px;
    @media (max-width: $md3+px) {
      text-align: center;
      margin: 0px 0px 0px 0px;
    }
  }

  // .item-cases__title
  &__title {
    @media (min-width: $md3+px) {
      display: inline-block;
    }
    color: #061f61;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
    position: relative;
    @media (max-width: $md3+px) {
      font-size: 20px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      @include tr(-50%, 0, 0);
      bottom: -20px;
      width: 90%;
      height: 1px;
      background-color: #f6f6f6;
    }
  }

  // .item-cases__label
  &__label {
    color: #303030;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
    @media (max-width: $md3+px) {
      display: inline-block;
      font-size: 14px;
      margin: 0px 13px 0px 0px;
      // line-height: 18px;
    }
  }

  // .item-cases__value
  &__value {
    color: #613abb;
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 40px 0px;
    position: relative;
    @media (max-width: $md3+px) {
      display: inline-block;
      font-size: 20px;
      margin: 0px 0px 18px 0px;
    }
    &:last-of-type {
      margin: 0px 0px 0px 0px;
    }
    &.grn {
      &:after {
        margin: 0px 0px 0px 5px;
      }
    }
    .red {
      color: #ff668c;
    }
  }
  // .item-cases__arrow
  &__arrow {
    margin: 0px 25px;
    @media (max-width: $md3+px) {
      margin: 0px 8px;
    }
  }
}
.controls-cases {
  // .controls-cases__btn
  &__btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid;
    @include flexboxi();
    align-items: center;
    justify-content: center;
    border-color: #613abb;
    @media (min-width: $md2+px) {
      &:hover {
        border-color: #ff668c;
        .arrow::before,
        .arrow::after {
          background-color: #ff668c;
        }
      }
    }
    @media (max-width: $md2+px) {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    // .controls-cases__btn--prev
    &--prev {
      left: -10px;
      transform: translate(0, 0) rotate(180deg);
      @media (max-width: $md2+px) {
        transform: translate(0, -50%) rotate(180deg);
      }
    }
    // .controls-cases__btn--next
    &--next {
      margin: 0px 0px 0px 30px;
      @media (max-width: $md2+px) {
        margin: 0px 0px 0px 30px;
        right: -10px;
      }
    }
  }

  // .controls-cases__arrow
  &__arrow {
  }
}
.arrow {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 20px;
  top: 0;
  left: 0;
  @include tr(0, 5px, 0);
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100% * 1.4;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #613abb;
  }
  &::before {
    top: 50%;
    @include rotate(-45deg);
  }
  &::after {
    @include rotate(45deg);
  }
  @media (max-width: $md3+px) {
    @include tr(0, 4px, 0);
    width: 8px;
    height: 15px;
  }
}
// =============================================================
.faq-content {
  // .faq-content__container
  &__container {
    position: relative;
    @media (max-width: $md3+px) {
      &:after {
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: -970px;
      top: -543px;
      width: 1075px;
      height: 1256px;
      background: url("../img/faq/bg_shape.svg") 0 0 no-repeat;
    }
    * {
      position: relative;
      z-index: 2;
    }
  }

  // .faq-content__title
  &__title {
    margin: 0px 0px 20px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 10px 0px;
    }
  }

  // .faq-content__questions
  &__questions {
    max-width: 92%;
    margin: 0px 0px 50px 0px;
  }

  // .faq-content__body
  &__body {
    text-align: left;
    border-bottom: 1px solid #f6f6f6;
    padding: 25px 0px;
    @media (max-width: $md3+px) {
      padding: 20px 0px;
    }
  }

  // .faq-content__question
  &__question {
    cursor: pointer;
    @include flexbox();
    color: #49337e;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    position: relative;
    @media (max-width: $md3+px) {
      font-size: 20px;
      line-height: 30px;
    }
    span {
      display: block;
      flex: 0 0 35px;
      max-width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid #49337e;
      margin: 0px 30px 0px 0px;
      position: relative;
      @include anim(0.5s, 0s);
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 16px;
        width: 20px;
        height: 1px;
        background-color: #49337e;
      }
      &:after {
        @include rotate(90deg);
      }
    }
    &._active {
      color: #ff668c;
      span {
        @include rotate(45deg);
        border-color: #ff668c;
        &:before,
        &:after {
          background-color: #ff668c;
        }
      }
    }
  }

  // .faq-content__answer
  &__answer {
    display: none;
    padding: 30px 0px 0px 0px;
    color: #303030;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    @media (max-width: $md3+px) {
      padding: 20px 0px 0px 0px;
      font-size: 14px;
    }
  }
}
// =============================================================
// =============================================================

// Конец основного блока
@import "footer.scss";
//
.rub {
  &:after {
    content: "₽";
  }
}

.grn {
  &:after {
    content: "грн";
  }
}

.block-title {
  color: #061f61;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  @media (max-width: $md3+px) {
    color: #001963;
    font-size: 29px;
    line-height: 45px;
    text-align: center;
  }
}

._ibg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  color: rgb(24, 24, 24);
  font-family: "Open Sans";
  font-size: 16px;
  text-align: left;

  border-radius: 10px;
  background-color: white;
  padding: 5px 10px;
  width: 100%;
  height: 60px;

  display: block;
  &:focus {
  }
  &._err {
    //
    border-color: red;
    //
  }
}
textarea.input {
  resize: none;
  overflow: auto;
  // height: 151px;
}
.btn {
  @include flexboxi();
  align-items: center;
  justify-content: center;
  min-width: 230px;
  height: 60px;
  border-radius: 30px;
  background-color: #ff668c;
  color: #fffefe;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 700;

  &--o {
  }

  &--order {
    box-shadow: 3px 4px 14px 1px rgba(244, 98, 140, 0.35);
  }
}

//SELECT
.select {
  position: relative;
  &._active {
    .select__value::before {
      @include rotate(-180deg);
    }
  }

  // .select__item
  &__item {
    position: relative;
    min-width: 166px;
  }

  // .select__title
  &__title {
    cursor: pointer;
    color: #000;
    // border: 1px solid #d9d9d9;
    background-color: white;
    // border-radius: 4px;
    // @media (max-width: $md2+px) {
    //   font-size: 18px;
    // }
  }

  // .select__value
  &__value {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 14px;
    color: #0097ac;
    height: 30px;
    padding: 0px 15px;
    span {
      height: 1em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &:before {
      content: "";
      display: inline-block;
      @include anim(0.3s, 0s);
      width: 11px;
      height: 7px;
      margin: 0px 0px 0px 5px;
      background: url("../img/select.svg") center / 100% no-repeat;
    }
  }

  // .select__input
  &__input {
    width: 100%;
    border-color: transparent;
    height: 100%;
  }

  // .select__options
  &__options {
    color: black;
    display: none;
    position: absolute;
    top: 29px;
    left: 0;
    // border-radius: 0 0 4px 4px;
    min-width: 100%;
    background-color: white;
    border-top: 0;
    // border: 1px solid #d9d9d9;
    border-top: 0;
    font-size: 14px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    padding: 10px 0px 5px 0px;
    // @media (max-width: $md2+px) {
    // font-size: 18px;
    // }
  }

  // .select_option
  &__option {
    cursor: pointer;
    padding: 5px 15px;
    margin: 0px 0px 0px 0px;
    @media (min-width: $md2+px) {
      &:hover {
        background: #d9d9d9;
      }
    }
  }
  &--show {
    .select__item {
      min-width: 0;
      border: 2px solid #f3f3f3;
    }
    .select__value {
      color: #999999;
      font-size: 16px;
      font-weight: 900;
    }
  }
}

//CHECK
.checkbox {
  position: relative;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    &:checked + .checkbox__text::before {
      background: #fff url("") center no-repeat;
    }
  }

  &__text {
    @include flexboxi();
    align-items: center;
    position: relative;
    font-size: 16px;
    color: black;
    cursor: pointer;
    &:before {
      content: "";
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background: #ffffff;
      border: 1px solid #a7a9ac;
    }
  }

  a {
    color: black;
    text-decoration: underline;
    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// ._tabs
._tabs {
}

// ._tabs-item
._tabs-item {
  cursor: pointer;
  &._active {
    cursor: default;
  }
}

// ._tabs-block
._tabs-block {
  display: none;
  // ._active
  &._active {
    display: block;
  }
}

// Slick Slider start
.slick-slider {
  position: relative;
  .slick-track,
  .slick-list {
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    @include flexbox();
    align-items: flex-start;
  }
  .slick-slide {
  }
  .slick-dots {
    // padding: 110px 0 0 0;
    padding: 10px 0 0 0;
    @media (max-width: $md1+px) {
      // padding: 80px 0 0 0;
      padding: 0;
    }
    @media (max-width: $md2+px) {
      // padding: 40px 0 0 0;
    }
    @include flexbox();
    justify-content: center;
    align-items: center;
    li {
      margin: 0 9px;
      button {
        font-size: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #222;
        border-radius: 50%;
        background-color: transparent;
        @media (max-width: $md4+px) {
          width: 9px;
          height: 9px;
        }
      }
      &.slick-active {
        button {
          background-color: #222;
        }
      }
    }
  }
}
// Slick Slider end
